*,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  top: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.input-div > input:focus {
  outline: none;
}

/* .input-div > input:invalid {
  outline: red solid 1px;
} */

input:invalid {
  outline: red solid 1px;
}

#button-div {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
